<% layout('index') -%>
<ul class="com-title">
  <li>
    <img class="ico-img" src="/img/ico.png" alt="">
  </li>
  <li>
    <% for(var i in breadcrumbs){ %>
      <% if(i==="OVERVIEW FOR BLOCK"||i==="ADDRESS"){ %>
        -
      <%}%>
          <a class="color-blue" href=<%=breadcrumbs[i]%>><%=i %></a>
    <% } %>
  </li>
</ul>
<article class="blockInfo-box addr-table">
  <div class="balCont">
    <dl class="floatLeft balanceBox">
      <dt class="balDt floatLeft">
        <img src="/img/balanceImg.png" class="balImg" alt="">
      </dt>
      <dd class="balDd floatLeft">
        <p class="banNum"><%=addrTitle["wan balance"]%></p>
        <p class="banTex">WAN balance</p>
      </dd>
    </dl>
    <div class="balMes floatLeft">
      <p class="balNum2"><span><img src="/img/balIco.png" class="balIco" alt=""></span><%=addrTitle["no of trans"]%></p>
      <p class="balTex2">No of Transactions</p>
    </div>
    <ul class="titleAddr floatRight">
      <li>
        <span class="floatLeft addr-tit">Address :</span>
        <span class="addr-mess"><%=addrTitle.address%></span>
      </li>
    </ul>
  </div>
  <table class="com-table" border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>No</th>
        <th>TxHash</th>
        <th>Age</th>
        <th>Block</th>
        <th>From</th>
        <th></th>
        <th>To</th>
        <th>Value</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0;i<transactionData.length;i++) {%>
        <tr>
          <td><%=i+1%></td>
          <td><a href="/block/trans/<%= transactionData[i].txhash %>?bnum=<%=transactionData[i].block%>"><%=transactionData[i].txhash.substr(0,18)+'...'%></a></td>
          <td><%=transactionData[i].age%></td>
          <td><%=transactionData[i].block%></td>
          <td><a href="/block/addr/<%= transactionData[i].from %>?bnum=<%=transactionData[i].block%>"><%=transactionData[i].from.substr(0,18)+'...'%></a></td>
          <td><span class="<%=transactionData[i].classFrom%>"><%=transactionData[i].outIn%></span></td>
          <td><a href="/block/addr/<%= transactionData[i].to %>?bnum=<%=transactionData[i].block%>"><%=transactionData[i].to.substr(0,18)+'...'%></a></td>
          <td><%=transactionData[i].value%></td>
          <td><%=transactionData[i].type%></td>
        </tr>
      <% }%>
    </tbody>
  </table>
  <div class="pagination">
    <a class="first" id="goFirst" href="/block/addr/<%=addrTitle.address%>?bnum=<%=blockNum%>&page=1">
      First
    </a>
    <a class="first" id="goPrev" disabled=true>
      Prev
    </a>
    <div class="pageInfo" data-curr="<%=currPage%>">PAGE <%=currPage%> OF <%=transLen%></div>
    <a class="last" id="goLast" href="/block/addr/<%=addrTitle.address%>?bnum=<%=blockNum%>&page=<%=transLen%>">
      Last
    </a>
    <a class="last" id="goNext">
      Next
    </a>
  </div>
</article>
<script type="text/javascript">
  var transLen="<%=transLen%>";
  var addr="<%=addrTitle.address%>";
  var block="<%=blockNum%>";
  var nextPage=parseInt("<%=currPage%>")+1;
  var prevPage=parseInt("<%=currPage%>")-1;
  var goNext=document.getElementById("goNext");
  var goPrev=document.getElementById("goPrev");
  if(nextPage>transLen){
    goNext.removeAttribute('href');
    goNext.style="opacity:0.4";
  }else{
    goNext.href=`/block/addr/${addr}?bnum=${block}&page=${nextPage}`;
    goNext.style="opacity:1";
  }
  if(prevPage<=0){
    goPrev.removeAttribute('href');
    goPrev.style="opacity:0.4"
  }else{
    goPrev.href=`/block/addr/${addr}?bnum=${block}&page=${prevPage}`;
    goPrev.style="opacity:1"
  }

</script>
