<% layout('index') -%>
<div class="con-titBox">
  <ul class="floatLeft com-titLeft">
    <li>
      <em class="ico-img" ></em>
    </li>
    <li><b>OVERVIEW FOR BLOCK</b> <span>#<%=formatData["Height"]%></span></li>
  </ul>
  <ul class="floatRight com-title">
    <li>
      <em class="ico-home"></em>
    </li>
    <li>
      <% for(var i in breadcrumbs){ %>
        <% if(i==="OVERVIEW FOR BLOCK"){ %>
          -
        <%}%>
        <a class="color-blue" href=<%=breadcrumbs[i]%>><%=i %></a>
      <% } %>
    </li>
  </ul>
</div>
<article class="blockInfo-box">
  <table class="blockInfo-table" border="0" cellspacing="0" cellpadding="0">
    <caption class="blockInfo-title"><span class="bt-borLef"></span>Block information</caption>
    <tbody>
      <% for(var i in formatData) {%>
        <%if(i==="Height"){%>
          <tr>
            <td><%=i%></td>
            <%if(parseInt(formatData[i])===1){%>
              <td><a class="last-ico" title="No Previous Block"></a><%=formatData[i]%><a href="/block/<%=parseInt(formatData[i])+1%>" class="next-ico" title="Next Block"></a></td>
            <%}else{%>
              <%if(bool){%>
                <td><a href="/block/<%=formatData[i]-1%>" class="last-ico" title="Previous Block"></a><%=formatData[i]%><a href="/block/<%=parseInt(formatData[i])+1%>" class="next-ico" title="Next Block"></a></td>
              <%}else{%>
                <td><a href="/block/<%=formatData[i]-1%>" class="last-ico" title="Previous Block"></a><%=formatData[i]%><a class="next-ico" title="You have reached the Latest Block"></a></td>
              <%}%>
            <%}%>
          </tr>
        <%} else{%>
          <tr>
            <td><%=i%></td>
            <td><%=formatData[i]%></td>
          </tr>
        <%}%>
      <% }%>
    </tbody>
  </table>
</article>
<article class="blockInfo-box">
  <table class="com-table" border="0" cellspacing="0" cellpadding="0">
    <caption class="blockInfo-title"><span class="bt-borLef"></span>Transactions in current block</caption>
    <thead>
      <tr class="table-tr">
        <th>No</th>
        <th>TxHash</th>
        <th><em class="table-ico2"></em>Age</th>
        <th>Block</th>
        <th><em class="table-ico7"></em>From</th>
        <th><em class="table-ico8"></em>To</th>
        <th><em class="table-ico9"></em>Value</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0;i<transactionData.length;i++) {%>
        <tr>
          <td><%=i+1%></td>
          <td><a href="/block/trans/<%= transactionData[i].txhash %>?bnum=<%=transactionData[i].block%>"><%=transactionData[i].txhash.substr(0,18)+'...'%></a></td>
          <td><%=transactionData[i].age%></td>
          <td><%=transactionData[i].block%></td>
          <%if(method==='db'){%>
            <td><a href="/block/addr/<%= transactionData[i].from %>?bnum=<%=transactionData[i].block%>"><%=transactionData[i].from.substr(0,18)+'...'%></a></td>
            <td>
              <%if(transactionData[i].to.slice(0,2)==="sm"){%>
                <a href="/block/addr/<%= transactionData[i].to.slice(14) %>?bnum=<%=transactionData[i].block%>">smart contract</a>
              <%}else{%>
                <a href="/block/addr/<%= transactionData[i].to %>?bnum=<%=transactionData[i].block%>"><%=transactionData[i].to.substr(0,18)+'...'%></a>
              <%}%>
            </td>
          <%}else{%>
            <td><span><%=transactionData[i].from.substr(0,18)+'...'%></span></td>
            <td>
              <%if(transactionData[i].to.slice(0,2)==="sm"){%>
                <span title="<%=transactionData[i].to.slice(14)%>">smart contract</span>
              <%}else{%>
                <span><%=transactionData[i].to.substr(0,18)+'...'%></span>
              <%}%>
            </td>
          <%}%>
          <td><%=transactionData[i].value%></td>
          <td><%=transactionData[i].type%></td>
        </tr>
      <% }%>
    </tbody>
  </table>
</article>
