<% layout('index') -%>
<div class="con-titBox">
  <ul class="floatLeft com-titLeft">
    <li>
      <em class="ico-img"></em>
    </li>
    <li>
      <b>TRANSACTIONS</b>
    </li>
  </ul>
  <ul class="floatRight com-title">
    <li>
      <em class="ico-home"></em>
    </li>
    <li>
      <% for(var i in breadcrumbs){ %>
        <% if(i==="OVERVIEW FOR BLOCK"||i==="TRANSACTIONS"){ %>
          -
          <%}%>
            <a class="color-blue" href=<%=breadcrumbs[i]%>><%=i %></a>
            <% } %>
    </li>
  </ul>
</div>

<article class="blockInfo-box">
  <table class="blockInfo-table" border="0" cellspacing="0" cellpadding="0">
    <caption class="blockInfo-title"><span class="bt-borLef"></span>Transaction information</caption>
    <tbody>
      <% for(var i in transInfo) {%>
        <tr>
          <%if((i==="From"||i==="To")&&method==="db"){%>
            <td><%=i%></td>
            <td>
              <%if(tokenTrans.length!==0&&i=="To"){%>
                  <span>contract </span>
                  <a href="/block/addr/<%= transInfo[i] %>?bnum=<%=transInfo["Height"]%>"><%=transInfo[i]%></a>
                  <span>---</span>
                  <div class="contractInfo">
                    <span style="font-weight:550"><%=tokenTrans[1]%> TOKEN </span>
                    Transfer From
                    <a href="/block/addr/<%= transInfo["From"] %>?bnum=<%=transInfo["Height"]%>"><%=transInfo["From"].substr(0,18)+'...'%></a>
                    <span>to<span>
                    <a href="/block/addr/<%=tokenTrans[0]%>?bnum=<%=transInfo["Height"]%>"><%=tokenTrans[0].substr(0,18)+'...'%></a>
                  </div>
              <%}else if(transObj.createContract===true&&i=="To"){%>
                Contract <a href="/block/addr/<%= transInfo[i] %>?bnum=<%=transInfo["Height"]%>"><%=transInfo[i]%></a> Created
              <%}else{%>
                <a href="/block/addr/<%= transInfo[i] %>?bnum=<%=transInfo["Height"]%>"><%=transInfo[i]%></a>
              <%}%>
            </td>
          <%}else if(i==="Input Data"){%>
            <td>Input Data</td>
            <td>
              <%if(tokenTrans.length!==0){%>
<textarea readonly spellcheck="false" class="textareaInfo">
Function: transfer(address _to, uint256 _value) ***

Method: <%=tokenTrans[2][0]%>

[0]:<%=tokenTrans[2][1]%>
[1]:<%=tokenTrans[2][2]%>
</textarea>
              <%}else{%>
                <textarea readonly spellcheck="false" class="textareaInfo"><%=transInfo[i]%></textarea>
              <%}%>
            </td>
          <%}else{%>
            <td><%=i%></td>
            <td><%=transInfo[i]%></td>
          <%}%>
        </tr>
      <% }%>
    </tbody>
  </table>
</article>
