<% layout('index') -%>
<div class="con-titBox">
  <ul class="floatLeft com-titLeft">
    <li>
      <em class="ico-img"></em>
    </li>
    <li>
      <b>TRANSACTIONS</b>
    </li>
  </ul>
  <ul class="floatRight com-title">
    <li>
      <em class="ico-home"></em>
    </li>
    <li>
      <% for(var i in breadcrumbs){ %>
        <% if(i==="OVERVIEW FOR BLOCK"||i==="TRANSACTIONS"){ %>
          -
          <%}%>
            <a class="color-blue" href=<%=breadcrumbs[i]%>><%=i %></a>
            <% } %>
    </li>
  </ul>
</div>

<article class="blockInfo-box">
  <table class="blockInfo-table" border="0" cellspacing="0" cellpadding="0">
    <caption class="blockInfo-title"><span class="bt-borLef"></span>Transaction information</caption>
    <tbody>
      <tr><td>TxHash</td><td><%=transInfo["TxHash"]%></td></tr>
      <tr><td>Height</td><td><%=transInfo["Height"]%></td></tr>
      <tr><td>TimeStamp</td><td><%=transInfo["TimeStamp"]%></td></tr>
      <tr>
        <td>From</td>
        <td>
          <%if(method==="db"){%>
            <a href="/block/addr/<%= transInfo["From"] %>?bnum=<%=transInfo["Height"]%>"><%=transInfo["From"]%></a>
          <%}else{%>
            <%=transInfo["From"]%>
          <%}%>
        </td>
      </tr>
      <tr>
        <td>To</td>
        <td>
          <%if(method==="db"){%>
            <%if(tokenTrans.length!==0){%>
                <span>contract </span>
                <a href="/block/addr/<%= transInfo["To"] %>?bnum=<%=transInfo["Height"]%>"><%=transInfo["To"]%></a>
                <span>---</span>
                <div class="contractInfo">
                  <span style="font-weight:550"><%=tokenTrans[1]%> TOKEN </span>
                  Transfer From
                  <a href="/block/addr/<%= transInfo["From"] %>?bnum=<%=transInfo["Height"]%>"><%=transInfo["From"].substr(0,18)+'...'%></a>
                  <span>to<span>
                  <a href="/block/addr/<%=tokenTrans[0]%>?bnum=<%=transInfo["Height"]%>"><%=tokenTrans[0].substr(0,18)+'...'%></a>
                </div>
            <%}else if(transObj.createContract===true){%>
              Contract <a href="/block/addr/<%= transInfo["To"] %>?bnum=<%=transInfo["Height"]%>"><%=transInfo["To"]%></a> Created
            <%}else{%>
              <a href="/block/addr/<%= transInfo["To"] %>?bnum=<%=transInfo["Height"]%>"><%=transInfo["To"]%></a>
            <%}%>
          <%}else{%>
            <%if(transInfo["To"].slice(0,2)==="sm"){%>
               Contract <%=transInfo["To"].slice(2)%> Created
            <%}else{%>
              <%=transInfo["To"]%>
            <%}%>
          <%}%>
        </td>
      </tr>
      <tr><td>Value</td><td><%=transInfo["Value"]%></td></tr>
      <tr><td>Gas Used</td><td><%=transInfo["Gas Used"]%></td></tr>
      <tr><td>Gas Price</td><td><%=transInfo["Gas Price"]%></td></tr>
      <tr><td>Tx Fee</td><td><%=transInfo["Tx Fee"]%></td></tr>
      <tr><td>Nonce</td><td><%=transInfo["Nonce"]%></td></tr>
      <tr>
        <td>Input Data</td>
        <td>
          <%if(method==="db"&&tokenTrans.length!==0){%>
      <textarea readonly spellcheck="false" class="textareaInfo">
Function: transfer(address _to, uint256 _value) ***

Method: <%=tokenTrans[2][0]%>

[0]:<%=tokenTrans[2][1]%>
[1]:<%=tokenTrans[2][2]%>
      </textarea>
          <%}else{%>
            <textarea readonly spellcheck="false" class="textareaInfo"><%=transInfo["Input Data"]%></textarea>
          <%}%>
        </td>
      </tr>
    </tbody>
  </table>
</article>
